/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
  }

h1, h2, h3 {
	line-height: 1.2
}

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.map-holder{
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.vis-1 {
width: 100%;
height: 100%;
margin: 0 auto;
}

.content-column.write-up {
	padding-top: 3000px;
	margin-top: 3000px;
}

.empty-space {
	color: white
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */  
#forkongithub a{
	background:#00F;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:1.4rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#118;
	color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:1000px){
	#forkongithub{
		position:fixed;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}
